.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper > *{
    padding: 20px;
}

.nav{
    background-color: blue;
}
.navbar{
    width: 100%;
}

.main{
    flex-grow: 1;
    background-color: white;
    /*create flex container*/
    display: flex;
    /*how items are align inside the container*/
    padding: 2% 5%;
    justify-content: space-evenly;
}

.card{
    border: 1px solid black;
    width: 300px;
    height: 325px;
    margin: 1%;
}
 